body {
    margin-bottom: 100px;
    color: $primary-color;
    background-image: url("/img/bg-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    background-attachment: fixed;
    position: relative;        
  }
  

  #loader {   
    position: fixed;
    bottom: 50px;
    left: 100px;    
  }

  .loaderOn{
    display: block;
  }

  .loaderOff {
    display: none;
  }