.cards {
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;  
    justify-content: flex-start;
    margin: 0 auto;
    position: relative;  
    color: $secondary-color;
    .card {
        height: 450px;
        width: 450px;
        background-color: white;
        margin: 0 50px;
        position: relative;
        font-size: 21px;
        .title {
            margin: 20px 25px;
            height: 25px; 
        }
       .image {
            height: 265px;
            width: 400px;
            display: block;
            margin: 0 auto;
        }
        .icon {           
            font-size: 28px;
            margin-right: 8px;
            color: #7e7e7e;           
        }
        .comment:nth-child(4) {
            display: flex;
            justify-content: flex-start;
            padding-top: 10px;
            margin-left: 25px;
            align-items: center;            
        }
        .submit {            
                font-size: 48px;
                display: block; 
                color: #86c5ff;
                margin-top: 40px;
                margin-left: 15px;
                transform: translateY(-45%);
                transition: .3s linear;
                &:hover {
                    color: green;
                    cursor: pointer;
                }             
        }
        .comment:nth-child(5) {
            display: flex;
            justify-content: center;
            align-items: center;        
                      
        }
    }    
  }
    
  .card:nth-child(even) {  
    margin-top: 140px;    
  }

  input {
    width: 330px;
    height: 55px;  
    margin-left: 5px;
    padding-left: 10px;
  }


