.header {
    .logo {
        height: 220px;
        width: 220px;        
        background-color: #7baff0;
        border-radius: 50%;  
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 80px;  
        margin: 0 auto;
        margin-top: 35px;
        .logotext {
            font-size: 36px;
            margin: 0;
            padding: 0;
            margin-top: 10px;
            font-style: italic;
            font-weight: 400;
        }
    }
    .title {
        text-align: center;
        font-size: 51px;
        font-weight: 300;
        margin: 29px 0 34px;  
    }
    .text {
        width: 800px;
        margin: 0 auto;
        text-align: justify;
    }
}
