.timeline {    
    margin-top: 100px;
    position: relative;   
}

.circle {
    width: 25px;
    height: 25px;
    border: 5px solid $primary-color;
    border-radius: 50%;
    position: absolute;
    top: -63px;
    left: 50%;
    transform: translateX(-50%);
}

.top-line {
    position: absolute;
    width: 4px;
    height: 55px;
    background-color: $primary-color;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

/*SHORT LINE*/
.card:nth-child(odd) h3 {
    position: relative;
}

.card:nth-child(odd) h3:before {
    content: "";
    position: absolute;
    height: 124px;
    border-left: 4px solid $primary-color;
    top: 23px;
    left: -77px;

}

/*LONG LINE*/
.card:nth-child(odd) h3:after {
    content: "";
    position: absolute;
    height: 430px;
    border-left: 4px solid $primary-color;
    top: 165px;
    left: -77px;   
}

/*TRIANGLES*/
.card:nth-child(odd) .triangle::after {
    content: "";
    position: absolute;
    top: 20px;
    left: -20px;
    border-right: 20px solid $primary-color;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.card:nth-child(even) .triangle::after {
    content: "";
    position: absolute;
    top: 20px;
    right: -20px;
    border-left: 20px solid $primary-color;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

/*DOTS*/
.card:nth-child(odd)::before {
    content: "";
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: $primary-color;
    position: absolute;
    top: 30px;
    left: -53px;
}

.card:nth-child(odd)::after {
    content: "";
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: $primary-color;
    position: absolute;
    top: 172px;
    left: -53px;
}
  